.footer {  
     width: 100%;
    position: relative;
    float:none;
    background: #c2c5c6;
    padding-top: 10px; 
     text-align: center; 
     bottom: 0px; 
     height: 10vh; 
      }
 @media only screen and (max-width: 575px){
  .footer{
    position:relative;
    width:100%;
    bottom: 0;
    height: 10vh;     
  }
}
.footer span {
  color: red;
}

.footer p {
  font-size: 14px;
}
